.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Global reset and scroll control */
body, html {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Hide vertical scrollbar */
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5eee6; /* Match your light pastel theme */
}

#root {
  height: 100%;
}



/* home page */

.profile-container {
  background-color: #ffffff;
  padding: 2.5rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.profile-container h1 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.profile-container h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.profile-container p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.profile-container a {
  font-size: 1.3rem;
  color: #1e4457;
  text-decoration: none;
}

.profile-container a:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* change from height to min-height */
  background-color: #f9f9f9;
  color: #2f2f2f;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 11rem;
  overflow-y: auto; /* allow scroll if needed */
}

.profile-container a svg:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* about me profile */
.about-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem 3rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  color: #2f2f2f;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.about-container h1 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
